<div>
        <h2>
            Profile:  <%=@user.email%>
        </h2>
        <%=render @user_posts%>
        Likes:
        <% likes = 0 %>
        <% @user_posts.each do |post| %>
        <% likes += post.likes.count %>
        <%end%>
        <%=likes%>
</div>
