
<div class="container">

<h2>Реєстрація</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render 'form',f:f %>
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-save"></i> </span>
     </div>
     <%=f.submit "Зареєствуватись", class:"form-control card-size"%>
</div>
<%end%>
<%= render "users/shared/links" %>
</div>
